In [3]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from bs4 import BeautifulSoup
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(r"C:\Users\shaha\Downloads\chromedriver_win32 (2)/chromedriver.exe")
driver.get("https://www.flipkart.com/hp-pavilion-gaming-ryzen-5-quad-core-3550h-8-gb-1-tb-hdd-windows-10-home-4-gb-graphics-nvidia-geforce-gtx-1650-15-ec0101ax-laptop/product-reviews/itma1af6bf593dc8?pid=COMFSFNVDXG74QXR&lid=LSTCOMFSFNVDXG74QXRY8FRH2&marketplace=FLIPKART")
time.sleep(2)

<ipython-input-2-bdd2ca9e2df5>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\shaha\Downloads\chromedriver_win32 (2)/chromedriver.exe")

In [4]:
driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[2]").click() # click on 2 page
time.sleep(4)  # sleep code for 8 second

# again click on 1 page to get url with page=1 at the end, which is extract below
driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[1]").click()

In [5]:
driver.current_url

'https://www.flipkart.com/hp-pavilion-gaming-ryzen-5-quad-core-3550h-8-gb-1-tb-hdd-windows-10-home-4-gb-graphics-nvidia-geforce-gtx-1650-15-ec0101ax-laptop/product-reviews/itma1af6bf593dc8?pid=COMFSFNVDXG74QXR&lid=LSTCOMFSFNVDXG74QXRY8FRH2&marketplace=FLIPKART&page=1'

In [6]:
# create empty list
ratings = []
reviews = []

In [7]:
for page in range(1, 151, 1):
    # below url take from the above code result
    page_url = "https://www.flipkart.com/hp-pavilion-gaming-ryzen-5-quad-core-3550h-8-gb-1-tb-hdd-windows-10-home-4-gb-graphics-nvidia-geforce-gtx-1650-15-ec0101ax-laptop/product-reviews/itma1af6bf593dc8?pid=COMFSFNVDXG74QXR&lid=LSTCOMFSFNVDXG74QXRY8FRH2&marketplace=FLIPKART&page=" + str(page)
    driver.get(page_url)
    rating_ = driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
    review_ = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/div")
                                             
    for i in rating_:
        ratings.append(i.text)
    for k in review_:
        reviews.append(k.text)

In [8]:
print(len(ratings))
print(len(reviews))

1500
1500

In [9]:
#driver.close()

In [10]:
# make dataframe
df1 = pd.DataFrame({})
df1['Ratings'] = ratings
df1['Review'] = reviews
df1

     Ratings                                             Review
0          5  This is the best laptop in this range.I reciev...
1          5  Good product as used of now.... Everything is ...
2          5  AWESOME LAPTOP. It supports many high spec gam...
3          4  For the peoples who R going to buy R they buye...
4          5  It's good gameing laptop in this price\nDispla...
...      ...                                                ...
1495       5                                 Best Product Truly
1496       4  Good product for basic level gaming, designing...
1497       3                         Don't buy ryzen take intel
1498       5                                       Just amazing
1499       5                                           The best

[1500 rows x 2 columns]

In [12]:
driver = webdriver.Chrome(r"C:\Users\shaha\Downloads\chromedriver_win32 (2)/chromedriver.exe")
driver.get("https://www.flipkart.com/samsung-galaxy-f22-denim-blue-64-gb/product-reviews/itmce0a6baf0d54d?pid=MOBG43UGBTGGB99V&lid=LSTMOBG43UGBTGGB99VLZACSD&marketplace=FLIPKART")
time.sleep(2)

In [13]:
driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[2]").click() # click on 2 page
time.sleep(4)  # sleep code for 8 second

# again click on 1 page to get url with page=1 at the end, which is extract below
driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[1]").click()

In [14]:
driver.current_url

'https://www.flipkart.com/samsung-galaxy-f22-denim-blue-64-gb/product-reviews/itmce0a6baf0d54d?pid=MOBG43UGBTGGB99V&lid=LSTMOBG43UGBTGGB99VLZACSD&marketplace=FLIPKART&page=1'

In [15]:
# create empty list
ratings = []
reviews = []

In [16]:
for page in range(1, 151, 1):
    # below url take from the above code result
    page_url = "https://www.flipkart.com/samsung-galaxy-f22-denim-blue-64-gb/product-reviews/itmce0a6baf0d54d?pid=MOBG43UGBTGGB99V&lid=LSTMOBG43UGBTGGB99VLZACSD&marketplace=FLIPKART&page=1" + str(page)
    driver.get(page_url)
    rating_ = driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
    review_ = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/div")
                                             
    for i in rating_:
        ratings.append(i.text)
    for k in review_:
        reviews.append(k.text)

In [17]:
print(len(ratings))
print(len(reviews))

990
990

In [18]:
driver.close()

In [19]:
# make dataframe
df2 = pd.DataFrame({})
df2['Ratings'] = ratings
df2['Review'] = reviews
df2

    Ratings                                             Review
0         5  Overall is a good phone and very good camera p...
1         5                                             Worthy
2         5                                    Excellent phone
3         2  its not at good for gaming games like PUBG and...
4         5  Best made for India phone , Better than all Ch...
..      ...                                                ...
985       4                                               Good
986       4  Overall performance is very good battery backu...
987       5  Camera ,battery and Display was Awesome\nGood ...
988       5                                         LOVE IT 😘😘
989       5                                          Excellent

[990 rows x 2 columns]

In [20]:
driver = webdriver.Chrome(r"C:\Users\shaha\Downloads\chromedriver_win32 (2)/chromedriver.exe")
driver.get("https://www.flipkart.com/realme-narzo-20-glory-silver-64-gb/product-reviews/itm4ac58d879006d?pid=MOBFVEATBBRGJBKH&lid=LSTMOBFVEATBBRGJBKH4OKPVI&marketplace=FLIPKART")
time.sleep(2)

In [22]:
# click on negative filter first
driver.find_element_by_xpath("//*[@id='container']/div/div[3]/div/div/div[2]/div[1]/div[1]/div[2]/div/div/div/div/select/option[4]").click()
time.sleep(4)

In [23]:
# click on page no.- 2
driver.find_element_by_xpath("//*[@id='container']/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]").click()

In [24]:
# extract page no.-2 url for apply loop of all pages
driver.current_url

'https://www.flipkart.com/realme-narzo-20-glory-silver-64-gb/product-reviews/itm4ac58d879006d?pid=MOBFVEATBBRGJBKH&lid=LSTMOBFVEATBBRGJBKH4OKPVI&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST'

In [25]:
# create empty list
ratings = []
reviews = []

In [26]:
for page in range(1, 451, 1):
    # below url take from the above code result
    page_url = "https://www.flipkart.com/realme-narzo-20-glory-silver-64-gb/product-reviews/itm4ac58d879006d?pid=MOBFVEATBBRGJBKH&lid=LSTMOBFVEATBBRGJBKH4OKPVI&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST&page=" + str(page)
    driver.get(page_url)
    rating_ = driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")                                  
    review_ = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/div")
                            
    for i in rating_:
        ratings.append(i.text)
    for k in review_:
        reviews.append(k.text)

In [27]:
print(len(ratings))
print(len(reviews))

4430
4430

In [28]:
# make dataframe
df3 = pd.DataFrame({})
df3['Ratings'] = ratings
df3['Review'] = reviews
df3

     Ratings                                             Review
0          1  The wrost product I ever used. because\nno aut...
1          1                                               Good
2          1  Don't buy mobiles in Flipkart. I have received...
3          1  waste of money the sound quality to bad also w...
4          1  Display quality is bad.\nSignal issue. Issue i...
...      ...                                                ...
4425       3            After many update camera is so bad\n.,.
4426       3                                               Nice
4427       3                                               good
4428       3  New mobile battery packup is good but day by d...
4429       3  After using it for 4 months it started hanging...

[4430 rows x 2 columns]

In [29]:
driver.close()

In [38]:
driver = webdriver.Chrome(r"C:\Users\shaha\Downloads\chromedriver_win32 (2)/chromedriver.exe")
driver.get("https://www.myntra.com/reviews/2004043")
time.sleep(2)

In [39]:
# scroll down page till last

SCROLL_PAUSE_TIME = 1

# Get scroll height 
last_height = driver.execute_script("return document.body.scrollHeight")

In [40]:
while True: 
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page 

    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height

    new_height = driver.execute_script("return document.body.scrollHeight")

    if new_height == last_height:

        break

    last_height = new_height

In [41]:
# create empty list
ratings = []
reviews = []

In [42]:
rating_ = driver.find_elements_by_xpath("//*[@id='detailedReviewsContainer']/div/div[1]/div[1]/span")    
review_ = driver.find_elements_by_xpath("//*[@id='detailedReviewsContainer']/div/div[1]/div[2]")

for i in rating_:
    ratings.append(i.text)
for k in review_:
    reviews.append(k.text)

In [43]:
print(len(ratings))
print(len(reviews))

384
384

In [44]:
# make dataframe
df4 = pd.DataFrame({})
df4['Ratings'] = ratings
df4['Review'] = reviews
df4

    Ratings                                             Review
0         4  Very good sound quality with a cosy fit in the...
1         5  Really awesome sounds quality 👌...and bass lov...
2         5  First of for thnku myntra 👍this earphone is be...
3         3  I don't see so much of changed from an average...
4         4  As a show of pic on myntra display same as phy...
..      ...                                                ...
379       3   Not that revealing and okay with respect to cost
380       5     Best ever nice bass and sound quality is wow👍👌
381       5  Good product, value for money, good sound qual...
382       5  What a product man mindbobling . I like it ver...
383       5  It's a good product but not touched my expecta...

[384 rows x 2 columns]

In [45]:
driver.close()

In [46]:
driver = webdriver.Chrome(r"C:\Users\shaha\Downloads\chromedriver_win32 (2)/chromedriver.exe")
driver.get("https://www.myntra.com/reviews/9928205")
time.sleep(2)

In [47]:
# scroll down page till last

SCROLL_PAUSE_TIME = 1

# Get scroll height 
last_height = driver.execute_script("return document.body.scrollHeight")

In [48]:
while True: 
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page 

    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height

    new_height = driver.execute_script("return document.body.scrollHeight")

    if new_height == last_height:

        break

    last_height = new_height

In [49]:
# create empty list
ratings = []
reviews = []

In [50]:
rating_ = driver.find_elements_by_xpath("//*[@id='detailedReviewsContainer']/div/div[1]/div[1]/span")    
review_ = driver.find_elements_by_xpath("//*[@id='detailedReviewsContainer']/div/div[1]/div[2]")

for i in rating_:
    ratings.append(i.text)
for k in review_:
    reviews.append(k.text)

In [51]:
print(len(ratings))
print(len(reviews))

2576
2576

In [52]:
# make dataframe
df5 = pd.DataFrame({})
df5['Ratings'] = ratings
df5['Review'] = reviews
df5

     Ratings                                             Review
0          4  The product is awesome, controls are good and ...
1          5  Perfectly fit in your ear. I've never found so...
2          4  (Please note this review is based on the prici...
3          5  Great sound quality and good bass. It is notic...
4          5  I have purchased Bluetooth Wireless Earphones ...
...      ...                                                ...
2571       1                                                nyc
2572       1                                                Bad
2573       1                                               Nice
2574       1                                                Bad
2575       1                                        Bad Product

[2576 rows x 2 columns]

In [53]:
driver.close()

In [54]:
driver = webdriver.Chrome(r"C:\Users\shaha\Downloads\chromedriver_win32 (2)/chromedriver.exe")
driver.get("https://www.myntra.com/reviews/13471916")
time.sleep(2)

In [55]:
# scroll down page till last

SCROLL_PAUSE_TIME = 1

# Get scroll height 
last_height = driver.execute_script("return document.body.scrollHeight")

In [56]:
while True: 
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page 

    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height

    new_height = driver.execute_script("return document.body.scrollHeight")

    if new_height == last_height:

        break

    last_height = new_height

In [57]:
# create empty list
ratings = []
reviews = []

In [58]:
rating_ = driver.find_elements_by_xpath("//*[@id='detailedReviewsContainer']/div/div[1]/div[1]/span")    
review_ = driver.find_elements_by_xpath("//*[@id='detailedReviewsContainer']/div/div[1]/div[2]")

for i in rating_:
    ratings.append(i.text)
for k in review_:
    reviews.append(k.text)

In [59]:
print(len(ratings))
print(len(reviews))

2208
2208

In [60]:
# make dataframe
df6 = pd.DataFrame({})
df6['Ratings'] = ratings
df6['Review'] = reviews
df6

     Ratings                                             Review
0          5  I have been using this for a month now. This i...
1          5  Just bought the phone. Pairing was easy Qualit...
2          4            This is a nice watch I really liked it.
3          4  First of all... Good speedy delivery by Myntra...
4          4  Really loved this watch.Nice n comfortable to ...
...      ...                                                ...
2203       1                                    Damaged product
2204       2                                        Not working
2205       2       Quality of this product is not satisfactory.
2206       1                                Product not working
2207       1                                      Display small

[2208 rows x 2 columns]

In [61]:
driver.close()

In [62]:
driver = webdriver.Chrome(r"C:\Users\shaha\Downloads\chromedriver_win32 (2)/chromedriver.exe")
driver.get("https://www.amazon.in/Canon-1500D-Digital-Camera-S18-55/product-reviews/B07BS4TJ43/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews")
time.sleep(2)

In [63]:
# click on next page
driver.find_element_by_xpath("//*[@id='cm_cr-pagination_bar']/ul/li[2]/a").click()

In [64]:
# extract page no.-2 url for apply loop of all pages
driver.current_url

'https://www.amazon.in/Canon-1500D-Digital-Camera-S18-55/product-reviews/B07BS4TJ43/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber=2'

In [65]:
# create empty list
ratings = []
reviews = []

In [66]:
for page in range(1, 301, 1):
    # below url take from the above code result
    page_url = "https://www.amazon.in/Canon-1500D-Digital-Camera-S18-55/product-reviews/B07BS4TJ43/ref=cm_cr_getr_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber=" + str(page)
    driver.get(page_url)
    
    soup= BeautifulSoup(driver.page_source, 'html.parser')
    
    rating_ = soup.find_all('i',attrs={'data-hook':'review-star-rating'})    
    review_ = soup.find_all('span',attrs={'class':'a-size-base review-text review-text-content'})    
                            
    
    for i in rating_:
        ratings.append(i.text.replace(" out of 5 stars",""))
        
    for k in review_:
        reviews.append(k.text)

In [67]:
print(len(ratings))
print(len(reviews))

3000
3000

In [68]:
# make dataframe
df7 = pd.DataFrame({})
df7['Ratings'] = ratings
df7['Review'] = reviews
df7

     Ratings                                             Review
0        2.0  \nOk the DSLR Giant Canon have launched 1 more...
1        5.0                     \nGood camera for beginners.\n
2        5.0  \nGreat camera. Perfect product for young budd...
3        5.0  \nReally impressed with Amazon surprise for de...
4        1.0  \nYou are on your own if you buy this product ...
...      ...                                                ...
2995     5.0  \nVery good SLR camera ,easy to handle and goo...
2996     5.0  \nA great camera for beginners.Has all the fun...
2997     5.0  \nI'm totally happy with this camera, i got it...
2998     4.0  \nCamera bag with product is not of good quali...
2999     5.0  \nGot it in 17,500/- in great india sale.Very ...

[3000 rows x 2 columns]

In [69]:
driver.close()

In [70]:
driver = webdriver.Chrome(r"C:\Users\shaha\Downloads\chromedriver_win32 (2)/chromedriver.exe")
driver.get("https://www.amazon.in/Redmi-inches-Ready-L32M6-RA-Android/product-reviews/B09F9YQQ7B/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews")
time.sleep(2)

In [71]:
# click on next page
driver.find_element_by_xpath("//*[@id='cm_cr-pagination_bar']/ul/li[2]/a").click()

In [72]:
# extract page no.-2 url for apply loop of all pages
driver.current_url

'https://www.amazon.in/Redmi-inches-Ready-L32M6-RA-Android/product-reviews/B09F9YQQ7B/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber=2'

In [73]:
# create empty list
ratings = []
reviews = []

In [74]:
for page in range(1, 301, 1):
    # below url take from the above code result
    page_url = "https://www.amazon.in/Redmi-inches-Ready-L32M6-RA-Android/product-reviews/B09F9YQQ7B/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber=" + str(page)
    driver.get(page_url)
    
    soup= BeautifulSoup(driver.page_source, 'html.parser')
    
    rating_ = soup.find_all('i',attrs={'data-hook':'review-star-rating'})    
    review_ = soup.find_all('span',attrs={'class':'a-size-base review-text review-text-content'})    
                            
    
    for i in rating_:
        ratings.append(i.text.replace(" out of 5 stars",""))
        
    for k in review_:
        reviews.append(k.text)

In [75]:
print(len(ratings))
print(len(reviews))

3000
3000

In [76]:
# make dataframe
df8 = pd.DataFrame({})
df8['Ratings'] = ratings
df8['Review'] = reviews
df8

     Ratings                                             Review
0        5.0  \n\nVideo Player is loading.Play VideoPlayMute...
1        5.0  \nWorth for money product.I am writing this re...
2        1.0  \nPathetic product  Never buy it.Picture is no...
3        1.0  \n\n\n\n\n                    The media could ...
4        3.0  \nHello, only buy it if you have never used So...
...      ...                                                ...
2995     5.0                                          \nSuper\n
2996     5.0                                        \nBest TV\n
2997     5.0                             \nOk value for money\n
2998     5.0                                \nAwesome product\n
2999     5.0

[3000 rows x 2 columns]

In [77]:
driver = webdriver.Chrome(r"C:\Users\shaha\Downloads\chromedriver_win32 (2)/chromedriver.exe")
driver.get("https://www.amazon.in/Canon-MG2577s-Inkjet-Colour-Printer/product-reviews/B01EJ5MM5M/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews")
time.sleep(2)

In [78]:
# click on next page
driver.find_element_by_xpath("//*[@id='cm_cr-pagination_bar']/ul/li[2]/a").click()

In [79]:
# extract page no.-2 url for apply loop of all pages
driver.current_url

'https://www.amazon.in/Canon-MG2577s-Inkjet-Colour-Printer/product-reviews/B01EJ5MM5M/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber=2'

In [80]:
# create empty list
ratings = []
reviews = []

In [81]:
for page in range(1, 301, 1):
    # below url take from the above code result
    page_url = "https://www.amazon.in/Canon-MG2577s-Inkjet-Colour-Printer/product-reviews/B01EJ5MM5M/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber=" + str(page)
    driver.get(page_url)
    
    soup= BeautifulSoup(driver.page_source, 'html.parser')
    
    rating_ = soup.find_all('i',attrs={'data-hook':'review-star-rating'})    
    review_ = soup.find_all('span',attrs={'class':'a-size-base review-text review-text-content'})    
                            
    
    for i in rating_:
        ratings.append(i.text.replace(" out of 5 stars",""))
        
    for k in review_:
        reviews.append(k.text)

In [82]:
print(len(ratings))
print(len(reviews))

3000
3000

In [83]:
# make dataframe
df9 = pd.DataFrame({})
df9['Ratings'] = ratings
df9['Review'] = reviews
df9

     Ratings                                             Review
0        1.0  \nits only  print 3 to 4 page properly then st...
1        1.0  \nPrinter came damaged,While installing it gav...
2        3.0  \nIt is good only for plain paper printing. If...
3        3.0  \nPrints 500 rs notes properly but 2000 rs not...
4        1.0  \nGot a defective piece. Very bad packaging. A...
...      ...                                                ...
2995     5.0                                   \nBest Quality\n
2996     5.0                                  \nNice Product!\n
2997     1.0                                 \nWORST BUY EVER\n
2998     4.0                                \nThanks products\n
2999     1.0                                          \nWaste\n

[3000 rows x 2 columns]

In [86]:
# merge all dataframes reviews and ratings
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9], ignore_index=True)

In [87]:
df

      Ratings                                             Review
0           5  This is the best laptop in this range.I reciev...
1           5  Good product as used of now.... Everything is ...
2           5  AWESOME LAPTOP. It supports many high spec gam...
3           4  For the peoples who R going to buy R they buye...
4           5  It's good gameing laptop in this price\nDispla...
...       ...                                                ...
21083     5.0                                   \nBest Quality\n
21084     5.0                                  \nNice Product!\n
21085     1.0                                 \nWORST BUY EVER\n
21086     4.0                                \nThanks products\n
21087     1.0                                          \nWaste\n

[21088 rows x 2 columns]

In [88]:
#Save data in csv format
df.to_csv("Rating_Predicts.csv")

In [89]:
#Save data in csv format
df.to_excel("Rating_Predicts.xlsx")